# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dbnavigator.xml
/.idea/git_toolbox_blame.xml
/.idea/laravel-idea.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/php-inspections-ea-ultimate.xml
/.idea/prettier.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/xi.tutor.iml
