<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Sovlium использует камеру для видеозвонков и занятий.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sovlium использует микрофон для аудио в звонках и занятиях.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sovlium использует фотоплёнку, чтобы прикреплять файлы к материалам и заданиям.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Sovlium сохраняет файлы в фотоплёнку, когда вы скачиваете материалы.</string>
</dict>
</plist>
