/**
 * Стили для сетки пользователей в ВКС (Google Meet style)
 * Минимальные CSS переменные для динамических значений
 */

:root {
  /* Высоты панелей */
  --header-height: 64px;
  --upbar-height: 60px;
  --bottom-bar-height: 80px;

  /* Доступная высота для сетки */
  --available-height: calc(
    100vh - var(--header-height) - var(--upbar-height) - var(--bottom-bar-height)
  );
}

/* Адаптивность для мобильных устройств */
@media (max-width: 640px) {
  :root {
    --header-height: 56px;
    --upbar-height: 70px;
    --bottom-bar-height: 60px;
  }
}

/* Адаптивность для планшетов */
@media (min-width: 641px) and (max-width: 1024px) {
  :root {
    --upbar-height: 75px;
  }
}

/* Полноэкранный режим */
.lk-video-conference[data-fullscreen='true'] {
  --upbar-height: 0px;
}
