/* Глобальные стили для блокировки браузерных элементов управления видео */

/* Блокируем все video элементы в контейнере ВКС */
#videoConferenceContainer video,
.lk-participant-tile video,
.lk-focus-layout video,
.lk-grid-layout video {
  /* Убираем все браузерные элементы управления */
  -webkit-media-controls: none;
  -webkit-media-controls-panel: none;
  -webkit-media-controls-play-button: none;
  -webkit-media-controls-timeline-container: none;
  -webkit-media-controls-timeline: none;
  -webkit-media-controls-current-time-display: none;
  -webkit-media-controls-time-remaining-display: none;
  -webkit-media-controls-mute-button: none;
  -webkit-media-controls-volume-slider: none;
  -webkit-media-controls-fullscreen-button: none;
  -webkit-media-controls-rewind-button: none;
  -webkit-media-controls-return-to-realtime-button: none;
  -webkit-media-controls-toggle-closed-captions-button: none;

  /* Блокируем выделение и перетаскивание */
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;

  /* Блокируем перетаскивание */
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  -webkit-user-drag: none !important;

  /* Блокируем контекстное меню на мобильных устройствах */
  -webkit-touch-callout: none !important;

  /* Убираем outline при фокусе */
  outline: none !important;

  /* Блокируем pointer events для controls */
  pointer-events: auto !important;
}

/* Дополнительная защита от выделения текста */
#videoConferenceContainer,
.lk-participant-tile,
.lk-focus-layout,
.lk-grid-layout {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

/* Блокируем контекстное меню для всего контейнера ВКС */
#videoConferenceContainer {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* Скрываем любые возможные элементы управления */
#videoConferenceContainer video::-webkit-media-controls,
#videoConferenceContainer video::-webkit-media-controls-panel,
#videoConferenceContainer video::-webkit-media-controls-play-button,
#videoConferenceContainer video::-webkit-media-controls-timeline-container,
#videoConferenceContainer video::-webkit-media-controls-timeline,
#videoConferenceContainer video::-webkit-media-controls-current-time-display,
#videoConferenceContainer video::-webkit-media-controls-time-remaining-display,
#videoConferenceContainer video::-webkit-media-controls-mute-button,
#videoConferenceContainer video::-webkit-media-controls-volume-slider,
#videoConferenceContainer video::-webkit-media-controls-fullscreen-button,
#videoConferenceContainer video::-webkit-media-controls-rewind-button,
#videoConferenceContainer video::-webkit-media-controls-return-to-realtime-button,
#videoConferenceContainer video::-webkit-media-controls-toggle-closed-captions-button {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

/* Блокируем Picture-in-Picture кнопки */
#videoConferenceContainer video::-webkit-media-controls-picture-in-picture-button {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

/* Дополнительная защита от dev tools */
#videoConferenceContainer {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  -webkit-user-drag: none !important;
}
